<%= flash[:notice] %>
<h2>Admin Account:</h2>
<p>Name: <%= in_place_editor_field :admin, 'friendly_name', {}, :rows => 1, :external_control => "edit_friendly_name_#{@admin.id}", :url => {:action => 'set_admin_friendly_name', :id => @admin.id} %></p>
<p>Username:  <%= @admin.username %></p>
<% if current_user.id == @admin.id -%>
<p><%= link_to_function 'Change Password', visual_effect(:toggle_blind, :change_password_form, :duration => 0.5) %></p>
<% form_for :admin, :url => { :action => 'update', :id => @admin.id }, :html => {:method => :update, :id => 'change_password_form', :style => 'display:none'} do |f| -%>
<%= hidden_field 'admin', 'operation', :value => 'changing_password' %>
<p><label for="password">Change Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>
<p><%= submit_tag 'Change Password' %></p>
<% end -%>
<% end -%>