#tabmenu {
	color: #fff;
	border-bottom: 2px solid #2B3655;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	padding-left: 10px
}

#tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
	margin:0;
}

#tabmenu a, a.active {
	color: #2B3655;
	background: #FFF280;
	font: bold 1em "Trebuchet MS", Arial, sans-serif;
	border: 2px solid #2B3655;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; }

#tabmenu a.active {
	background-color: #FF80D7;
	color:#2B3655;
	border-bottom: 3px solid #FF80D7;
	}

#tabmenu a:hover {
	color: #FFF;
	background: #FF80D7;
}

#tabmenu a.active:hover {
	background: #FF80D7;
	color: #FFF;
	border-bottom: 3px solid #FF80D7;	
}

#tabmenu .calendar_tab {
	
}

#tabmenu_bottom_border {
	background:#FF80D7;
}