<tr id="client_listing_<%= client.id %>" class="livesearch_result client_listing listing <%= rownum.even? ? 'even' : 'odd' %>">
	<td><%= client.new_record? ? '(NEW)' : client.client_id %></td>
	<td><%= client.full_name %></td>
	<td><%= client.ach? ? 'Bank - '+ (client.account_type == 'C' ? 'Checking' : 'Savings') : 'Credit Card' %></td>
	<td><%= client.expiration %></td>
	<td><%= client.amount %></td>
	<td><%= client.goto_invalid.to_a.to_sentence %></td>
	<td><% if !client.new_record? %><%= link_to_remote 'Remove VIP', :url => formatted_remove_vip_client_member_path(:format => 'js', :id => client.id) %> | <%= link_to_remote 'Reload EFT', :url => formatted_reload_eft_client_member_path(:format => 'js', :id => client.id) %><% end %></td>
</tr>
