# Configuration for how to display the application
APP_CONFIG = {
  :FEATURES => [
    # :stores,
    # :forms,
    # :work_schedules,
    # :bulletin_board,
	  :open_helios,
	  :eft,
	  nil
  ]
}

ZONE = {
  :Division => 2,
  :Department => 7,
  :Location_Bits => 2, # The number of digits from the front of the client_number that are taken to denote the location
  :IP => '70.238.94.50', # The IP address for GotoBilling http payment submission
  :StandardMembershipPrice => 18.88,
  :SFTP => { # To download GotoBilling return files
    :host => 'host.whatever.com',
    :path => '~'
  }
}

LOCATIONS = {
  '001' => {
    :name => 'Location Name',
    :domain => 'store-alias',
    :open_helios => 'IP:Port',
    :dcas => {
      :company_alias => 'Location Name',
      :host => ZONE[:SFTP][:host],
      :username => 'MalibuVT',
      :password => 'password',
      :path => ZONE[:SFTP][:path]
    }
  },
	# 'etc'...
}
