# Configuration for how to display the application
APP_CONFIG = {
	:FEATURES => [
  	:stores,
  	:forms,
	  :work_schedules,
	  :bulletin_board,
	  :open_helios,
	  nil
	]
}

# Specify the network locations of the OpenHelios clients synching with this server.
OPENHELIOS_LOCATIONS = {
	# 'location-name' => 'IP:port'
}
