<li class="customer_listing"><span><em><%= link_to "#{customer.account_number} :: #{customer.last_name}, #{customer.first_name}", customer_path(:id => customer.id) %></em> <%= "(#{customer.drafts(true).count} draft#{'s' if customer.drafts.count > 1})" if customer.drafts.count > 0 %> &nbsp;-&nbsp; <span class="action_links"><%= (current_user.store.form_types.collect {|ft| link_to ft.friendly_name, store_draft_path(:form_type => ft.name, :customer_id => customer.id)}).join(" / ") %> | <%= link_to 'Destroy', customer_path(:id => customer.id), :confirm => 'Are you sure?', :method => :delete %></span></span></li>
