<% pre_text ||= '' -%>
<% update ||= 'yes' -%>
<li class="draft_listing form_listing<%= ' submitted' if form.has_been_submitted? %>" id="form_listing_<%= form.id %>"><span><%= pre_text %><%= link_to form.visual_identifier, store_forms_url(:form_status => 'draft', :action => 'draft', :form_type => form.data_type, :form_id => form.id), :loading => 'Loading Archived Form...' %><span class="action_links">[ <%= link_to_remote 'Discard', :confirm => "Discard this form? This cannot be undone.", :url => formatted_store_forms_path(:form_status => 'draft', :form_type => form.data_type, :action => 'discard', :form_id => form.id, :format => 'js', :update => update) %> ]</span></span></li>
