<h1>Manage Stores</h1>

<%= render :partial => 'shared/live_search_form', :locals => { :post_url => search_stores_url, :live_url => live_search_stores_url, :tickler_text => "Start by finding stores...", :results_div => 'store_results' } %>
<!-- show all -->
<div id="store_results"></div>
<br />
<%= link_to 'New store', new_store_path %>
