<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Malibu Management: HipForms, a HIPAA compliant form completion tool" />
		<meta name="keywords" content="" />
		<meta name="author" content="Malibu Management" />
		<title>Malibu Management: <%= current_domain %></title>
		<%= stylesheet_link_tag 'common' %>
		<%= stylesheet_link_tag 'tabs' %>
		<%= stylesheet_link_tag 'print', :media => "print" %>
		<%= stylesheet_link_tag 'jqModal' %>
    <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
    <%= javascript_include_tag 'jqModal.js' %>
    <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
    <%= javascript_include_tag 'jquery.form.js' %>
    <%= javascript_include_tag 'jquery.typewatch.js' %>
    <style>
      div#price_list {padding:1em;}
      table {width:100%;border-collapse: collapse;}
      table thead {background-color:#ff80d7;}
      table tr {margin:0;padding:0;border-bottom:1px solid #eee;}
      table td {padding:3px 5px;}
      .border {border-right:3px solid #ff80d7;}
      .hide {display:none;}
    </style>
		<script>
      $(document).ready(function() {
        // when they select a report
        $("div#price_list").jqm({modal: true})
        $('select').bind("change", function(){
          var url = "/malibu/master_inventory_report/"+$(this).val()+"/master_inventory_price_list_items/"
          // get the price list url
          $.get(url, function(data){
            // if there is data pull up a price list modal
            if(data){
              $("div#price_list").append(data);
              $("div#price_list").jqmShow();
            // otherwise do this
            }else{
              $("div#prepare_report").slideDown(500);
            };
          });
        });
        // run the report button
        $("a.run").bind("click", function(){
          var url = "/malibu/master_inventory_report/"+$("select").val();
          window.open(url);
        });
      });
    </script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="header_content">
					<h1>Malibu Management Form Processor</h1>
					<h2>Welcome <em><%= current_user.friendly_name %></em></h2>
				</div>
				<div id="header_menu">
					<ul>
						<li>
						<% if logged_in? -%>
							<a href="/logout">Logout</a>
						</li>
						<li>
							<%= link_to 'My Account', admin_account_path %>
							/
							<% if APP_CONFIG[:FEATURES].include?(:stores) && APP_CONFIG[:FEATURES].include?(:forms) -%>
								<% if params[:action] == 'forms' or params[:controller] == 'manage/forms' -%>
									<%= link_to 'Manage', stores_path %>
								<% else -%>
									<%= link_to 'Forms', admin_forms_by_status_path('submitted') %>
								<% end -%>
							<% else -%>
								<%= link_to 'Manage', admins_path %>
							<% end -%>
						<% else -%>
							Not logged in. <a href="/<%= accessed_domain %>/login">Login</a>
						<% end -%>
						</li>
					</ul>
				</div>
			</div>
			<div id="main">
				<ul id="tabmenu">
					<% if logged_in? -%>
						<% if APP_CONFIG[:FEATURES].include?(:forms) && (params[:action] == 'forms' or params[:controller] == 'manage/forms') -%>
							<li><%= tab_link_to 2.as_status.word('uppercase short singular') + (!FormInstance.find_all_by_status_number(2).blank? ? " (#{FormInstance.find_all_by_status_number(2).count})" : ''), admin_forms_by_status_path(2.as_status.text), :class => "#{2.as_status}_count" %></li>
							<li><%= tab_link_to 3.as_status.word('uppercase short singular') + (!FormInstance.find_all_by_status_number(3).blank? ? " (#{FormInstance.find_all_by_status_number(3).count})" : ''), admin_forms_by_status_path(3.as_status.text), :class => "#{3.as_status}_count" %></li>
							<li><%= tab_link_to 4.as_status.word('uppercase short singular'), admin_forms_by_status_path(4.as_status.text) %></li>
							
						<% else -%>
							<% if APP_CONFIG[:FEATURES].include?(:stores) && APP_CONFIG[:FEATURES].include?(:forms) -%>
								<li><%= tab_link_to "My Account", admin_account_path %></li>
							<% end -%>
							<% if APP_CONFIG[:FEATURES].include?(:stores) -%>
								<li><%= tab_link_to 'Stores', stores_path %></li>
							<% end -%>
							<% if APP_CONFIG[:FEATURES].include?(:stores) && APP_CONFIG[:FEATURES].include?(:forms) -%>
								<li><%= tab_link_to 'Admins', admins_path %></li>
							<% end -%>
						<% end -%>
						<% if APP_CONFIG[:FEATURES].include?(:work_schedules) -%>
							<li><%= tab_link_to 'Work Schedules', admin_schedule_path('hillsdale'), :class => 'calendar_tab' %></li>
						<% end -%>
						<% if APP_CONFIG[:FEATURES].include?(:bulletin_board) -%>
							<li><%= tab_link_to 'Bulletin Board', admin_bulletin_path %></li>
						<% end -%>
						<% if APP_CONFIG[:FEATURES].include?(:master_inventory) -%>
							<li><%= tab_link_to 'Master Inventory', "/malibu/master_inventory_report/" %></li>
						<% end -%>						
						<% if APP_CONFIG[:FEATURES].include?(:open_helios) -%>
							<li><%= tab_link_to 'OpenHelios', open_helios_path %></li>
						<% end -%>
						<% if APP_CONFIG[:FEATURES].include?(:eft) -%>
							<li><%= tab_link_to 'EFT', eft_path %></li>
						<% end -%>
					<% else -%>
						<li><%= tab_link_to "Login", admin_login_path %></li>
					<% end -%>
				</ul>
				<div id="tabmenu_bottom_border"><br /></div><br />
				<div id="content">
					<%= yield %>
					<br />
				</div>
			</div>
		</div>
	</body>
</html>
