<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Malibu Management: HipForms, a HIPAA compliant form completion tool" />
		<meta name="keywords" content="" />
		<meta name="author" content="Malibu Management" />
		<title>Malibu Management: Master Inventory Price List</title>
		<%= stylesheet_link_tag 'print', :media => "print" %>
    <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
    <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
    <%= javascript_include_tag 'jquery.form.js' %>
    <%= javascript_include_tag 'jquery.typewatch.js' %>
    <style>
      body {margin:0;padding:0;font-family:helvetica,arial;}
      div#toolbar {position:fixed;top:0;left:0;width:100%;padding:.5em 1em;background-color:#80a2ff;}
      #toolbar a {color:#2b3655;text-decoration:none;padding:2px 4px;}
      #toolbar a:hover {background-color:#ffff00;}
      #toolbar a img {padding-right:4px;margin-bottom:-2px;}
      div#content {margin-top:2.1em;}
      #content table {width:100%;border-collapse: collapse;}
      #content table thead {background-color:#ff80d7;}
      #content table tr {margin:0;padding:0;border-bottom:1px solid #eee;}
      #content table td {padding:3px 5px;font-size:0.8em;}
      #content table tr.footer {font-weight:bold;}
      .border {border-right:3px solid #ff80d7;}
      .center {text-align:center;}
      .instructions {display:none;}
    </style>
    <script>
      $(document).ready(function() {

      });
    </script>
	</head>
	<body>
    <div id="toolbar">
      <a href="javaScript:window.print();"><img src="/images/icons/printer.png" />Print</a>
    </div>
    <div id="content">
      <%= yield  %>
    </div>
	</body>
</html>