<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Malibu Management: HipForms, a HIPAA compliant form completion tool" />
		<meta name="keywords" content="" />
		<meta name="author" content="Malibu Management" />
		<title>Malibu Management: <%= accessed_store ? accessed_store.friendly_name : 'Unknown' %></title>
		<%= stylesheet_link_tag 'common' %>
		<%= stylesheet_link_tag 'tabs' %>
		<%= stylesheet_link_tag 'print', :media => "print" %>
		<%= stylesheet_link_tag 'date-picker' %>		
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'prototype' %>
		<%= javascript_include_tag 'effects' %>
		<%= javascript_include_tag 'form_effects' %>
		<%= javascript_include_tag 'controls' %>
		<%= javascript_include_tag 'dragdrop' %>
		<%= javascript_include_tag 'date-picker' %>
		<%= javascript_include_tag 'rounded' %>
	</head>
	<body>
		<div id="header">
			<h1>Malibu Management Form Processor</h1>
			<h2><em><%= current_user.friendly_name %></em> @ <%= accessed_store ? accessed_store.friendly_name : 'Unknown' %></h2>
			<ul>
				<li>
					<% if logged_in? -%>
						<a href="/logout">Logout</a>
					</li>
					<li>
					<%= link_to 'My Account', user_account_path %><%= " / " + link_to("Manage", users_path) if current_user.is_store_admin? %>
					<% else -%>
						Not logged in. <a href="/<%= accessed_domain %>/login">Login</a>
					<% end -%>
				</li>
			</ul>		
		</div>
		<div id="main">
			<div id="messages" class="floatright"><%= flash[:notice] %></div>
			<ul id="tabmenu">
				<% if logged_in? -%>
				<li><%= tab_link_to "Dashboard", store_dashboard_path, :active_only_if_equal => true %></li>
				<% if current_user.is_store_admin? and request.request_uri =~ /\/manage/ -%>
				<li><%= tab_link_to "Store Profile", store_profile_path %></li>
				<li><%= tab_link_to "Users", users_path %></li>
				<% else -%>
				<!-- <li><%= tab_link_to 1.as_status.word('uppercase short plural') + (!current_user.forms_with_status(1).blank? ? " (#{current_user.forms_with_status(1).count})" : ''), store_forms_by_status_path(:form_status => 1.as_status.text), :class => "#{1.as_status.text}_count" %></li>
				<li><%= tab_link_to 2.as_status.word('uppercase short plural') + (!current_user.forms_with_status(2).blank? ? " (#{current_user.forms_with_status(2).count})" : ''), store_forms_by_status_path(:form_status => 2.as_status.text), :class => "#{2.as_status.text}_count" %></li>
				<li><%= tab_link_to 3.as_status.word('uppercase short plural') + (!current_user.forms_with_status(3).blank? ? " (#{current_user.forms_with_status(3).count})" : ''), store_forms_by_status_path(:form_status => 3.as_status.text), :class => "#{3.as_status.text}_count" %></li> -->
				<li><%= tab_link_to 'Archive', store_forms_by_status_path(:form_status => 4.as_status.text) %></li>
				<% end -%>
				<li><%= tab_link_to 'Work Schedule', store_schedule_path %></li>
				<% else -%>
				<li><%= tab_link_to "Login", store_login_path %></li>
				<% end -%>
			</ul>
			<div style="background:#C13B00;"><br /></div><br />
			<div id="content">
				<%= yield  %>
				<br />
			</div>
		</div>
	</body>
</html>
